header {
     display: flex;
     flex-wrap: wrap;
     
     background-color: white;
     height: 20%;
}

header h1 {
    display: flex;
    justify-content: end;
    width: 50%;
    color: white;
    font-size: 40px;
    background-color: black;
 }

 header nav {
     width: 50%;
     border: 1px black solid;
     color: gray;
 }

 nav li {
    display: flex;
    align-content: center;
    margin: 4%;
        
 }

nav ul {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     font-size: 14pxt;
 }

figure {
    background-image: url(https://images6.alphacoders.com/107/thumb-1920-1079688.jpg); 
    background-repeat: no-repeat;
    height: 200px;
    
}

img {
  width: 100%;
  border: 2px black solid;
 }

.left-side {
     display: flex;
     flex-wrap: wrap;
     margin: 10%;
 }

 .left-side .title {
     width: 15%;
     padding: 1%;
     border-right: 2px black solid;
     text-align: right;
     font-size: 30px;
     display: flex;
     justify-content: end;
     
 }

 .left-side .section-container {
     width: 80%;
     padding: 2%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }

.card {
    width: 49%;
    position: relative;
    justify-content: space-evenly;
    margin: 2.5px;
    
}

.card h3 {
    width: 100px;
    height: 50px;
    position: absolute;
    z-index: 1;    
    bottom: 10%;
    font-size: 100%;
    color: white;
    background-color: black;
    text-align: right;
}

.section-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 200%;
}

#image1 {
    position: relative;
    margin-top: auto;
 }

 #image1 h3 {
    width: 20%;
    height: 20%;
    position: absolute;
    z-index: 1;    
    bottom: 10%;
    font-size: 150%;
    color: white;
    background-color: black;
 }

 #contact li{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
 }

 .fa {
    padding: 30px;
    font-size: 30px;
    width: 50%;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
  }
  
  /* twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
    width: 100%;
    font-size: 150% !important;
  }
  /* linkein */
  .fa-linkedin {
    background: #007bb5;
    color: white;
    width: 100%;
    font-size: 150% !important;
  }
  /* github */
  .fa-github {
    background: black;
    color: white;
    width: 100%;
    font-size: 150% !important;
  }
  
  /* For Tablet View */
@media screen and (min-device-width: 576px)
and (max-device-width: 992px) {

    header {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    height: 20%;
}

header h1 {
   display: flex;
   justify-content: end;
   width: 50%;
   border: 1px white solid;
   margin-bottom: 20px;
   color: black;
   font-size: 200%;
   background-color: white;
}

figure {
    background-image: url(https://images6.alphacoders.com/107/thumb-1920-1079688.jpg); 
    background-repeat: no-repeat;
    height: 100px;
}
}